<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a href="/new">Create a new message</a>
        <ul>
            <% for(let i = 0; i < messages.length; i++) { %>
                <li>
                    <p><%= messages[i].text %></p>
                    <p><%= messages[i].user %></p>
                    <p><%= messages[i].added %></p>
                    <a href="/message/<%= i %>">Show Message Details</a>
                </li>
            <% } %>
            </ul>
    </body>
</html>